<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.boostcamp.jr.thinktank">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false"/>

    <application
        android:name=".TTApplication"
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name=".TTMainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".TTListActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:parentActivityName=".TTMainActivity"/>
        <activity
            android:name=".TTDetailActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity
            android:name=".image.ImagePagerActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"/>
        <activity android:name=".TTRandomMainActivity">
        </activity>
        <activity android:name=".TTRandomListActivity">
        </activity>
    </application>

</manifest>